In [3]:
#creating a dictionary

student={
    "name":"Harshini",
    "age":20,
    "marks":89
}
print(student)

{'name': 'Harshini', 'age': 20, 'marks': 89}

In [8]:
#Accesing the element


student={
    "name":"Harshini",
    "age":20,
    "marks":89
}
print(student["name"])
print(student["marks"])

Harshini
89

In [13]:
#Adding and updating

student={
    "name":"Harshini",
    "age":20,
    "marks":89
}
student["grade"]="A"   #adding
student["mark"]=99     #updating existing values
print(student)

{'name': 'Harshini', 'age': 20, 'marks': 89, 'grade': 'A', 'mark': 99}

In [14]:
#removing

student={
    "name":"Harshini",
    "age":20,
    "marks":89
}
del student["age"]
print(student)

{'name': 'Harshini', 'marks': 89}

In [16]:

student={
    "name":"Harshini",
    "age":20,
    "marks":89
}
student.pop("age")
print(student)

{'name': 'Harshini', 'marks': 89}

In [18]:
student={
    "name":"Harshini",
    "age":20,
    "marks":89
}
student.clear()
print(student)

{}

In [19]:
student={
    "name":"Harshini",
    "age":20,
    "marks":89
}
for key, value in student.items():
    print(key, ":", value)

name : Harshini
age : 20
marks : 89