In [ ]:
#lambda function

def add(x,y):
 return x+y

print (add(10,100))

110

In [ ]:
add_lambda=lambda x,y :x+y
print(add_lambda(10,200))

210

In [ ]:
square=lambda x:x**2
print(square(5))

25

In [ ]:
#adding two numbers

add=lambda a,b:a+b
print (add(3,5))

8

In [ ]:
check=lambda n:"even" if n%2==0 else "odd"
print(check(14  ))

even

In [ ]:
#mapping using lambda

numbers=[1,2,3,4,5,6,7,8,9,10]
result=map(lambda x:x*2,numbers)
print(list(result))
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
<map object at 0x79186168c940>

In [ ]:
names=["apple","banana","grapes","lychee"]
upper_names=map(lambda s:s.upper(),names)
print(list(upper_names))

['APPLE', 'BANANA', 'GRAPES', 'LYCHEE']

In [ ]:
#filter using lambda

numbers=[1,2,3,4,5,6,7,8,9,10]
even=filter (lambda x:x%2==0,numbers)
print(list(even))

[2, 4, 6, 8, 10]

In [ ]:
odd=filter (lambda x:x%2!=0, numbers)
print (list(odd))

[1, 3, 5, 7, 9]

In [ ]:
marks=[63,52,75,56,49,95,36,87,86]
answer=filter(lambda x:x<60, marks)
print(list(answer))

[52, 56, 49, 36]

In [ ]:
names=["harshini","harini","kanisha","miru","nandhini","lana"]
answer=filter(lambda x:x.startswith("h"),names)
print(list(answer))

['harshini', 'harini']

In [1]:
#reduce function using lambda

from functools import reduce

numbers=[1,2,3,4,5,6,7,8,9,10]
sum=reduce(lambda a,b:a+b , numbers)
print(sum)

55

In [3]:
numbers=[1,2,3,4,5]
product=reduce(lambda a,b:a*b, numbers)
print(product)

120

In [4]:
maximum=lambda a,b: a if a>b else b
print(maximum(60,59))

60