In [3]:
#while loop

i=1
while(i<=5):
 print(i)
 i+=1

1
2
3
4
5

In [7]:
num=2
while(num<=10):
  print(num)
  num+=2

2
4
6
8
10

In [10]:
#for loop

for i in range(1,6):
 print(i)

1
2
3
4
5

In [15]:
#for loop using list

fruits=["Apple, Orange, Banana, Mango"]

for f in fruits:
   print("I like",f)

I like Apple, Orange, Banana, Mango

In [16]:
fruits = ["apple", "banana", "mango"]

for f in fruits:
    print("I like", f)

I like apple
I like banana
I like mango

In [19]:
#nested loops

for i in range(1,4):
  for j in range(1,3):
   print(i,j)

1 1
1 2
2 1
2 2
3 1
3 2