In [ ]:
#pattern

for i in range(1,6):
 for j in range(1,6):
  print("*",end=" ")
 print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
for i in range(1,6):
 for j in range(1,6):
  print(i ,end=" ")
 print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [32]:
for i in range (5, 0, -1):
  for j in range(i):
    print(i, end="  ")
  print()

5  5  5  5  5
4  4  4  4
3  3  3
2  2
1

In [35]:
for i in range(1,6):
  for j in range(5,0,-1):
    print (i,end=" ")
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [39]:
for i in range (1,6):
  for j in  range (5, 5-i, -1):
    print(j, end=" ")
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [40]:
for i in range(1,6):
  for j in range(1, i +1):
    print(j, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5